@using Web.Infrastructure.Helpers
@model IEnumerable<Web.Models.Presentation>

@{
    ViewBag.Title = "Home";
}

@foreach (var presentation in Model)
{
    <div class="hero-unit" id="@presentation.Id">
        <h1>@presentation.Title</h1> 
        <img class="presenter-image" src="@Url.Gravatar(@presentation.Presenter.Id, 52)" />
        <h2>with @presentation.Presenter.Name</h2>
        <h3>on @presentation.PresentationDate.ToLongDateString()</h3>
        <p class="clearfix">@presentation.Description</p>
        <p><a class="btn primary large" href="#">Next &raquo;</a></p>     
    </div>        
}

<div class="row"> 
        <div class="span5"> 
            Where when who what...
        </div> 
        <div class="span6"> 
            <img src="@Url.Content("~/Content/images/location.gif")" />
        </div> 
        <div class="span5" style="width:260px"> 
          <div class="slideshow">
            <img src="@Url.Content("~/Content/images/resized/microsoft_logo.jpg")" alt="Sponser Microsoft" />
            <img src="@Url.Content("~/Content/images/resized/appharbor.png")" alt="Sponser Appharbor" />
            <img src="@Url.Content("~/Content/images/resized/codesmart.png")" alt="Sponser Codesmart" />
            <img src="@Url.Content("~/Content/images/resized/INETASponsoredEvent.jpg")" alt="Sponser Ineta Sponsered Event" />
            <img src="@Url.Content("~/Content/images/resized/Milestone_Logo.jpg")" alt="Sponser Milestone" />
            <img src="@Url.Content("~/Content/images/resized/pluralsight-fullcolor-250x55-v1.png")" alt="Sponser Pluralsight" />
            <img src="@Url.Content("~/Content/images/resized/RavenDb_Logo_toFix.png")" alt="Sponser RavenDb" />
            <img src="@Url.Content("~/Content/images/resized/tekpub_logo-200.png")" alt="Sponser Tekpub" />
            <img src="@Url.Content("~/Content/images/resized/ug_discount_120x240.gif")" alt="Sponser O'reilly" />
            <img src="@Url.Content("~/Content/images/resized/UGSS_logo.png")" alt="Sponser UGSS" />
            <img src="@Url.Content("~/Content/images/resized/Wintellect_Logo_web.gif")" alt="Sponser Wintellect" />
       </div> 
       </div>
        
</div>
<script src="@Url.Content("~/Scripts/script.js")"></script>