@using Web.Infrastructure.Helpers
@model IEnumerable<Web.Models.Presentation>

@{
    ViewBag.Title = "Home";
}

@foreach (var presentation in Model)
{
    <div class="hero-unit" id="@presentation.Id">
        <h1>@presentation.Title</h1> 
        <img class="presenter-image" src="@Url.Gravatar(@presentation.Presenter.Id, 52)" />
        <h2>with @presentation.Presenter.Name</h2>
        <h3>on @presentation.PresentationDate.ToLongDateString()</h3>
        <p class="clearfix">@presentation.Description</p>
        <p><a id="Next" class="btn primary large" href="#">Next &raquo;</a></p>     
    </div>        
}

<div class="row"> 
        <div class="span5"> 
            <div class="row">
                <div class="span2 infolabel">
                    WHEN
                </div>
                <div class="span3 infoitem">
                    The 2nd Thursday of each month (with a few noted exceptions)
                </div>
            </div>
            <div class="row">
                <div class="span3 infoitem" >
                        Olympia Center<br />
                        222 Columbia NW<br />
                        Downtown Olympia
                </div>
                <div class="span2 infolabel">
                    WHERE
                </div>
            </div>
            <div class="row">
                <div class="span2 infolabel">
                    TIME
                </div>
                <div class="span3 infoitem vertpad">
                    7:00-9:00 pm
                </div>
            </div>
            <div class="row">
                <div class="span3 infoitem vertpad">
                    <a href="mailto:ssdotnet@live.com">ssdotnet@live.com</a>
                </div>
                <div class="span2 infolabel">
                    CONTACT
                </div>
            </div>
        </div> 
        <div class="span6"> 
            <img src="@Url.Content("~/Content/images/location.gif")" />
        </div> 
        <div class="span5" style="margin:auto;"> 
          <div class="slideshow">
            <div><img src="@Url.Content("~/Content/images/resized/microsoft_logo.jpg")" alt="Sponser Microsoft" /></div>
            <div><img src="@Url.Content("~/Content/images/resized/appharbor.png")" alt="Sponser Appharbor" /></div>
            <div><img src="@Url.Content("~/Content/images/resized/codesmart.png")" alt="Sponser Codesmart" /></div>
            <div><img src="@Url.Content("~/Content/images/resized/INETASponsoredEvent.jpg")" alt="Sponser Ineta Sponsered Event" /></div>
            <div><img src="@Url.Content("~/Content/images/resized/Milestone_Logo.jpg")" alt="Sponser Milestone" /></div>
            <div><img src="@Url.Content("~/Content/images/resized/pluralsight-fullcolor-250x55-v1.png")" alt="Sponser Pluralsight" /></div>
            <div><img src="@Url.Content("~/Content/images/resized/RavenDb_Logo_toFix.png")" alt="Sponser RavenDb" /></div>
            <div><img src="@Url.Content("~/Content/images/resized/tekpub_logo-200.png")" alt="Sponser Tekpub" /></div>
            <div><img src="@Url.Content("~/Content/images/resized/ug_discount_120x240.gif")" alt="Sponser O'reilly" /></div>
            <div><img src="@Url.Content("~/Content/images/resized/UGSS_logo.png")" alt="Sponser UGSS" /></div>
            <div><img src="@Url.Content("~/Content/images/resized/Wintellect_Logo_web.gif")" alt="Sponser Wintellect" /></div>
       </div> 
       </div>
        
</div>
<script src="@Url.Content("~/Scripts/script.js")"></script>